Repository MDOR/mdor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Adding initial animation
  src/index.html
  src/js/index.js
  src/style/_animations.scss
  src/style/index.scss
Due: prettier --write, eslint

Adding small animation into skill items
  src/style/_animations.scss
  src/style/components/_list.scss
Due: prettier --write

Generate new version
  docs/index.html
  docs/main.8f527171e84ba6b3e075.css
  docs/main.8f527171e84ba6b3e075.css.map
  docs/main.8f527171e84ba6b3e075.js
  docs/main.8f527171e84ba6b3e075.js.map
  docs/main.9476fe297a3a9c11f203.css
  docs/main.9476fe297a3a9c11f203.css.map
  docs/main.9476fe297a3a9c11f203.js
  docs/main.9476fe297a3a9c11f203.js.map
  docs/runtime.8f527171e84ba6b3e075.js.map
  docs/runtime.9476fe297a3a9c11f203.js
  docs/runtime.9476fe297a3a9c11f203.js.map
  docs/vendors.8f527171e84ba6b3e075.css.map
  docs/vendors.8f527171e84ba6b3e075.js.map
  docs/vendors.9476fe297a3a9c11f203.css
  docs/vendors.9476fe297a3a9c11f203.css.map
  docs/vendors.9476fe297a3a9c11f203.js
  docs/vendors.9476fe297a3a9c11f203.js.map
Due: prettier --write, eslint

Rollback imagemin compression for jpeg
  src/index.html
  webpack.config.js
Due: prettier --write, eslint

Adding presentation offline
  src/index.html
  src/js/index.js
  src/style/components/_header.scss
  src/style/components/_presentation-offline.scss
  src/style/components/index.scss
Due: prettier --write, eslint

Fixing layout
  src/index.html
  src/style/index.scss
Due: prettier --write

Create a new version
  docs/index.html
  docs/main.15590c7e12ff34554fb8.css
  docs/main.15590c7e12ff34554fb8.css.map
  docs/main.15590c7e12ff34554fb8.js
  docs/main.15590c7e12ff34554fb8.js.map
  docs/main.89fb2bf4cf79e3bb5c74.css
  docs/main.89fb2bf4cf79e3bb5c74.css.map
  docs/main.89fb2bf4cf79e3bb5c74.js.map
  docs/runtime.15590c7e12ff34554fb8.js
  docs/runtime.15590c7e12ff34554fb8.js.map
  docs/runtime.89fb2bf4cf79e3bb5c74.js.map
  docs/vendors.15590c7e12ff34554fb8.css
  docs/vendors.15590c7e12ff34554fb8.css.map
  docs/vendors.15590c7e12ff34554fb8.js
  docs/vendors.15590c7e12ff34554fb8.js.map
  docs/vendors.89fb2bf4cf79e3bb5c74.css.map
  docs/vendors.89fb2bf4cf79e3bb5c74.js.map
Due: prettier --write, eslint

Update content for final version
  package-lock.json
  package.json
  src/index.html
  src/js/index.js
  src/js/utils/index.js
  src/style/components/_list.scss
  src/style/index.scss
  src/style/reset/_custom-native-reset.scss
  webpack.config.js
Due: prettier --write, eslint

Update eslint rule, consistent return is not needed
  .eslintrc.js
Due: prettier --write, eslint

Update version
  docs/index.html
  docs/main.15590c7e12ff34554fb8.css
  docs/main.15590c7e12ff34554fb8.css.map
  docs/main.15590c7e12ff34554fb8.js
  docs/main.15590c7e12ff34554fb8.js.map
  docs/main.b8315d6a906a4fe53d68.css
  docs/main.b8315d6a906a4fe53d68.css.map
  docs/main.b8315d6a906a4fe53d68.js
  docs/main.b8315d6a906a4fe53d68.js.map
  docs/runtime.15590c7e12ff34554fb8.js
  docs/runtime.15590c7e12ff34554fb8.js.map
  docs/vendors.15590c7e12ff34554fb8.css
  docs/vendors.15590c7e12ff34554fb8.css.map
  docs/vendors.15590c7e12ff34554fb8.js
  docs/vendors.15590c7e12ff34554fb8.js.map
Due: prettier --write, eslint

Fix position of contact id
  src/index.html
Due: prettier --write

Avoid remove viewBox inside svg
  webpack.config.js
Due: prettier --write, eslint

Include watch prod
  package.json
Due: none

Add CNAME
  src/CNAME
Due: none

Create CNAME
  CNAME
Due: none

Create CNAME
  docs/CNAME
Due: none

Add valid index preview
  src/index.html
Due: prettier --write

Generate new version
  docs/CNAME
  docs/index.html
  docs/main.3ee32822b931f362ebdb.css.map
  docs/main.3ee32822b931f362ebdb.js.map
  docs/main.e5bd453ec786ea216109.css
  docs/main.e5bd453ec786ea216109.css.map
  docs/main.e5bd453ec786ea216109.js
  docs/main.e5bd453ec786ea216109.js.map
  package-lock.json
Due: prettier --write, eslint

Update dependencies
  .prettierrc
  package-lock.json
  package.json
  webpack.config.js
Due: prettier --write, eslint

Update preview content and fix typos
  src/index.html
  src/js/index.js
Due: prettier --write, eslint

Generate new version
  docs/index.html
  docs/main.013b57bcb698621978f7.css
  docs/main.013b57bcb698621978f7.css.map
  docs/main.013b57bcb698621978f7.js
  docs/main.013b57bcb698621978f7.js.map
  docs/main.e5bd453ec786ea216109.css.map
  docs/main.e5bd453ec786ea216109.js
  docs/main.e5bd453ec786ea216109.js.map
Due: prettier --write, eslint

Create README
  README.md
Due: none

Create LICENSE
  LICENSE
Due: none

Update depdencies
  package-lock.json
  package.json
  webpack.config.js
Due: prettier --write, eslint

Update scroll behavior using default or the native fallback
  src/js/utils/index.js
Due: prettier --write, eslint

Update footer not displayed correctly in IE 11
  src/style/components/_footer.scss
Due: prettier --write

Block content scrollable before the prese4ntation is completed
  src/index.html
  src/js/index.js
  src/style/index.scss
  src/style/reset/_custom-native-reset.scss
Due: prettier --write, eslint

Update fallback fonts
  src/js/index.js
  src/style/index.scss
Due: prettier --write, eslint

Update version 12-07-2020
  docs/index.html
  docs/main.013b57bcb698621978f7.css
  docs/main.013b57bcb698621978f7.css.map
  docs/main.013b57bcb698621978f7.js
  docs/main.013b57bcb698621978f7.js.map
  docs/main.b2bd1240ca413c8b34ff.css
  docs/main.b2bd1240ca413c8b34ff.css.map
  docs/main.b2bd1240ca413c8b34ff.js
  docs/main.b2bd1240ca413c8b34ff.js.map
Due: prettier --write, eslint

Update fallback fonts
  src/style/_variables.scss
Due: prettier --write

Fix mobile bug to display 100% height
  src/style/reset/_custom-native-reset.scss
Due: prettier --write

Async font loading
  src/index.html
Due: prettier --write

Second update 2020-07-12
  docs/index.html
  docs/main.91a90702b1c85bf064af.css
  docs/main.91a90702b1c85bf064af.css.map
  docs/main.91a90702b1c85bf064af.js
  docs/main.91a90702b1c85bf064af.js.map
  docs/main.b2bd1240ca413c8b34ff.css
  docs/main.b2bd1240ca413c8b34ff.css.map
  docs/main.b2bd1240ca413c8b34ff.js.map
Due: prettier --write, eslint

Include message when JS is not available
  src/index.html
  src/style/index.scss
Due: prettier --write

Update 2020-07-12
  docs/index.html
  docs/main.4e998b7efac7cc2f38b8.css
  docs/main.4e998b7efac7cc2f38b8.css.map
  docs/main.4e998b7efac7cc2f38b8.js
  docs/main.4e998b7efac7cc2f38b8.js.map
  docs/main.91a90702b1c85bf064af.css.map
  docs/main.91a90702b1c85bf064af.js.map
Due: prettier --write, eslint

Update readme
  README.md
Due: none

Update next js
  src/img/technology/nextjs.svg
Due: none

Path conditions:
  prettier --write: (any of: *.{js,jsx}) or (any of: *.{scss,html})
  eslint: any of: *.{js,jsx}
