Repository MDOR/mdor: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Run prettify agasint project
  src/index.html
  src/style/index.scss
  src/style/reset/_custom-native-reset.scss
Due: prettier --write

Generate first draft of the site
  docs/index.html
  docs/main.bundle.js
  docs/main.bundle.js.map
  docs/runtime.bundle.js
  docs/runtime.bundle.js.map
  docs/vendors.bundle.js
  docs/vendors.bundle.js.map
Due: prettier --write, eslint

Set theme jekyll-theme-merlot
  _config.yml
Due: none

Set theme jekyll-theme-cayman
  _config.yml
Due: none

Update index.html
  docs/index.html
Due: prettier --write

Test trigger deployment
  _config.yml
  docs/index.html
Due: prettier --write

Include images
  src/img/profile.png
  src/img/technology/angular.svg
  src/img/technology/bootstrap.svg
  src/img/technology/css-3.svg
  src/img/technology/docker.svg
  src/img/technology/express.svg
  src/img/technology/foundation.svg
  src/img/technology/git.svg
  src/img/technology/github.svg
  src/img/technology/gitlab.svg
  src/img/technology/graphql.svg
  src/img/technology/grunt.svg
  src/img/technology/gulp.svg
  src/img/technology/html-5.svg
  src/img/technology/imagemin.svg
  src/img/technology/immutable.svg
  src/img/technology/javascript.svg
  src/img/technology/jest.svg
  src/img/technology/jquery.svg
  src/img/technology/less.svg
  src/img/technology/mysql.svg
  src/img/technology/node.svg
  src/img/technology/postcss.svg
  src/img/technology/pug.svg
  src/img/technology/react-router.svg
  src/img/technology/react.svg
  src/img/technology/reactivex.svg
  src/img/technology/redux-saga.svg
  src/img/technology/redux.svg
  src/img/technology/sass.svg
  src/img/technology/typescript.svg
Due: none

Update content
  src/index.html
  src/js/index.js
  src/style/_variables.scss
  src/style/components/_containers.scss
  src/style/components/_list.scss
  src/style/components/_section.scss
  src/style/components/index.scss
  src/style/index.scss
  src/style/reset/_custom-native-reset.scss
Due: prettier --write, eslint

Fix weird bug on IE 11, for flexbox containers
  src/style/components/_containers.scss
  src/style/index.scss
Due: prettier --write

Editing small view
  src/index.html
  src/style/_variables.scss
  src/style/index.scss
Due: prettier --write

Generate a new version
  docs/img/technology/angular.svg
  docs/img/technology/bootstrap.svg
  docs/img/technology/css-3.svg
  docs/img/technology/docker.svg
  docs/img/technology/express.svg
  docs/img/technology/foundation.svg
  docs/img/technology/git.svg
  docs/img/technology/github.svg
  docs/img/technology/gitlab.svg
  docs/img/technology/graphql.svg
  docs/img/technology/grunt.svg
  docs/img/technology/gulp.svg
  docs/img/technology/html-5.svg
  docs/img/technology/imagemin.svg
  docs/img/technology/immutable.svg
  docs/img/technology/javascript.svg
  docs/img/technology/jest.svg
  docs/img/technology/jquery.svg
  docs/img/technology/less.svg
  docs/img/technology/mysql.svg
  docs/img/technology/node.svg
  docs/img/technology/postcss.svg
  docs/img/technology/pug.svg
  docs/img/technology/react-router.svg
  docs/img/technology/react.svg
  docs/img/technology/reactivex.svg
  docs/img/technology/redux-saga.svg
  docs/img/technology/redux.svg
  docs/img/technology/sass.svg
  docs/img/technology/typescript.svg
  docs/index.html
  docs/main.bundle.js
  docs/main.bundle.js.map
  src/img/profile.png
  src/index.html
  src/style/reset/_custom-native-reset.scss
Due: prettier --write, eslint

Generate new version
  docs/img/profile.png
  docs/index.html
  docs/main.bundle.js
  docs/main.bundle.js.map
Due: prettier --write, eslint

Fixing webpack config
  webpack.config.js
Due: prettier --write, eslint

Update content
  src/index.html
  src/js/index.js
  src/style/index.scss
Due: prettier --write, eslint

Update content
  docs/index.html
  docs/main.bundle.js
  docs/main.bundle.js.map
  docs/vendors.bundle.js
  docs/vendors.bundle.js.map
Due: prettier --write, eslint

Adding favicons
  src/img/favicon/android-chrome-192x192.png
  src/img/favicon/android-chrome-512x512.png
  src/img/favicon/apple-touch-icon.png
  src/img/favicon/favicon-16x16.png
  src/img/favicon/favicon-32x32.png
  src/img/favicon/favicon.ico
Due: none

Adding technology svgs
  src/img/technology/autoprefixer.svg
  src/img/technology/babel.svg
  src/img/technology/bitbucket.svg
  src/img/technology/bower.svg
  src/img/technology/browserify.svg
  src/img/technology/eslint.svg
  src/img/technology/nodemon.svg
  src/img/technology/npm.svg
  src/img/technology/prettier.svg
  src/img/technology/puppeteer.svg
  src/img/technology/storybook.svg
  src/img/technology/webpack.svg
  src/img/technology/yarn.svg
Due: none

Adding missing svgs
  src/js/index.js
Due: prettier --write, eslint

Adding webpack config for postcss inside of the file
  webpack.config.js
Due: prettier --write, eslint

Update skills and add work experience
  src/index.html
  src/style/components/_containers.scss
  src/style/components/_header.scss
  src/style/components/_list.scss
  src/style/index.scss
  src/style/reset/_custom-native-reset.scss
Due: prettier --write

Update responsive bio content
  src/style/components/_list.scss
  src/style/index.scss
Due: prettier --write

Fixing build, autoprefix config
  .browserslistrc
  webpack.config.js
Due: prettier --write, eslint

Generate a new version
  docs/img/favicon/android-chrome-192x192.png
  docs/img/favicon/android-chrome-512x512.png
  docs/img/favicon/apple-touch-icon.png
  docs/img/favicon/favicon-16x16.png
  docs/img/favicon/favicon-32x32.png
  docs/img/favicon/favicon.ico
  docs/img/technology/autoprefixer.svg
  docs/img/technology/babel.svg
  docs/img/technology/bitbucket.svg
  docs/img/technology/bower.svg
  docs/img/technology/browserify.svg
  docs/img/technology/eslint.svg
  docs/img/technology/nodemon.svg
  docs/img/technology/npm.svg
  docs/img/technology/prettier.svg
  docs/img/technology/puppeteer.svg
  docs/img/technology/storybook.svg
  docs/img/technology/webpack.svg
  docs/img/technology/yarn.svg
  docs/index.html
  docs/main.bundle.js
  docs/main.bundle.js.map
Due: prettier --write, eslint

Update content and include the contact me section
  src/img/technology/pug.svg
  src/index.html
  src/style/components/_list.scss
  src/style/index.scss
Due: prettier --write

Include media print customization
  docs/img/technology/pug.svg
  docs/index.html
  docs/main.bundle.js
  docs/main.bundle.js.map
  src/index.html
  src/style/index.scss
Due: prettier --write, eslint

Include option to compress css, js and extract and inline css for better loading
  package-lock.json
  package.json
  src/index.html
  webpack.config.js
Due: prettier --write, eslint

Customize minification attributes for production mode
  package-lock.json
  package.json
  src/img/profile.jpeg
  src/index.html
  src/style/index.scss
  webpack.config.js
Due: prettier --write, eslint

Fix css processing
  package-lock.json
  package.json
  src/img/profile.png
  src/img/technology/linkedin.svg
  src/index.html
  src/js/index.js
  src/style/index.scss
  webpack.config.js
Due: prettier --write, eslint

Fixing seo issues
  src/index.html
  src/js/index.js
Due: prettier --write, eslint

Generate new version
  docs/index.html
  docs/main.8f431b12a9fcc437d3e8.css.map
  docs/main.8f431b12a9fcc437d3e8.js
  docs/main.8f431b12a9fcc437d3e8.js.map
  docs/main.b544c31471404099102d.css
  docs/main.b544c31471404099102d.css.map
  docs/main.b544c31471404099102d.js
  docs/main.b544c31471404099102d.js.map
  docs/runtime.8f431b12a9fcc437d3e8.js.map
  docs/runtime.b544c31471404099102d.js
  docs/runtime.b544c31471404099102d.js.map
  docs/vendors.8f431b12a9fcc437d3e8.css.map
  docs/vendors.8f431b12a9fcc437d3e8.js.map
  docs/vendors.b544c31471404099102d.css
  docs/vendors.b544c31471404099102d.css.map
  docs/vendors.b544c31471404099102d.js
  docs/vendors.b544c31471404099102d.js.map
Due: prettier --write, eslint

Remove svg config, is causing issues on IE
  webpack.config.js
Due: prettier --write, eslint

Adding basic footer
  src/img/technology/puppeteer.svg
  src/index.html
  src/js/index.js
  src/style/components/_footer.scss
  src/style/components/index.scss
  src/style/index.scss
Due: prettier --write, eslint

Fixing wording content
  src/index.html
  src/js/index.js
  src/js/utils/index.js
  src/style/components/_footer.scss
  src/style/components/_header.scss
  src/style/index.scss
Due: prettier --write, eslint

Adding custom scroll CSS, Chrome
  src/style/reset/_custom-native-reset.scss
Due: prettier --write

Fixing media print
  src/style/index.scss
Due: prettier --write

Include firefox and normalize thumb
  src/style/reset/_custom-native-reset.scss
Due: prettier --write

Remove repor error logs
  .gitignore
  report.20200229.224702.18644.0.001.json
Due: none

Fixing incorrect dates
  src/index.html
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,jsx}) or (any of: *.{scss,html})
  eslint: any of: *.{js,jsx}
